<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>

  <body>
    <section class="page-header">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
    </section>
    

    <section class="main-content">
      <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_CHTML">
        MathJax.Hub.Config({
          extensions: ["tex2jax.js", "TeX/AMSmath.js", "TeX/AMSsymbols.js" ],
          jax: ["input/TeX", "output/HTML-CSS"],
          tex2jax: { inlineMath: [['$','$']], displayMath: [['$$','$$']], processEscapes: true },
          "HTML-CSS": { availableFonts: ["TeX"] }
        });
      </script>

      <a href="/">Top</a>

      {{ content }}

      <div id="fb-root"></div>
      <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id))
          return;
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v3.0&appId=233012396808363&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
      } (document, 'script', 'facebook-jssdk'));
      </script>    

      <div class="fb-comments" id="fb-comments" data-href="https://booiljung.github.io/" data-width="100%" data-numposts="5"></div>
      <script>
      (function(){
        var fbComment = document.getElementById("fb-comments");
        fbComment.setAttribute("data-href", window.location.href);
      }())
      </script>
      
      <script>
        (function() {
          var cx = '012971652190830977012:udy7jvimsgm';
          var gcse = document.createElement('script');
          gcse.type = 'text/javascript';
          gcse.async = true;
          gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(gcse, s);
        })();
      </script>
      <gcse:search></gcse:search>      

      <footer class="site-footer">
        <span class="site-footer-owner">
          <a href="https://github.com/booiljung">github</a> 
          <a href="https://www.facebook.com/booiltedjung">facebook</a>
        </span>
        <span class="site-footer-copyright">
          이 블로그에 게시된 2차 저작물의 권리는 1차 저작자에게 있으며 1차 저작자의 라이센스를 따릅니다.<br/>
          이 블로그에 게시된 Booil Jung의 생산한 저작물은 CC BY-NC-ND-SA를 적용합니다.<br/>
      		이 블로그의 게시된 Booil Jung이 생산한 소스코드는 MIT 라이센스를 적용합니다.<br/>
	      </span>
      </footer>

    </section>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117607984-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-117607984-2');
    </script>

  </body>
</html>
